<h3> Log In </h3>

<div class="row">
  <div class="col-md-4">
    <%= simple_form_for :sign_in, {url: sign_in_path } do |f| %>
      <%= f.input :email, placeholder: 'Email' %>
      <%= f.input :password, placeholder: 'Password' %>

      <%= f.button :submit, "Sign in", class: 'btn-success' %>
    <% end %>
  </div>
</div>
