
<div class="row">
  <div class="col-md-10">
    <%= simple_form_for @kick do |f| %>

      <%= f.input :brand, label: 'Brand:' %>
      <%= f.input :brand, label: 'Model:' %>
      <%= f.input :colorway, label: 'Colorway:' %>
      <%= f.input :lowmidhigh, label: 'Low, Mid, or High?:' %>
      <%= f.input :price %>
      <%= f.input :forsale %>
      <%= f.button :submit, label: 'Add Kicks!' %>
    <% end %>  
  </div>
</div>